@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.QuestionnaireModules.QuestionnaireResponseViewModel

@{
    ViewBag.Title = @Model.Questionnaire.Title;
}

<div class="my-4">
    <h2 class="mb-4 text-2xl font-bold">@Model.Questionnaire.Subtitle</h2>

    <form asp-action="Result" method="post">
        <input type="hidden" name="questionnaireId" value="@Model.QuestionnaireId"/>
        @foreach (var question in Model.Questionnaire.Questions)
        {
            <div class="bg-white rounded-lg shadow-md overflow-hidden mb-4">
                <div class="px-4 py-3 bg-gray-50 border-b"><strong>Vraag @question.Position</strong></div>
                <div class="p-4">
                    <p class="mb-3">@question.Description</p>
                    @foreach (var answer in question.Answers.OrderBy(a => a.Position))
                    {
                        var isChecked = Model.SelectedAnswerIds.Contains(answer.Id);
                        <div class="flex items-center mb-2">
                            <input
                                class="mr-2 h-4 w-4 border-gray-300 text-primary focus:ring-primary"
                                type="radio"
                                name="Answers[@question.Id]"
                                value="@answer.Id"
                                id="@($"q{question.Id}_a{answer.Id}")"
                                @(isChecked ? "checked" : "")
                                required />

                            <label
                                class="text-sm font-medium text-gray-700"
                                for="@($"q{question.Id}_a{answer.Id}")">
                                @answer.Description
                            </label>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="flex justify-start mt-4 gap-2">
            <button type="submit" class="bg-accent hover:bg-accent-hover text-text-black px-4 py-2 rounded-lg transition-colors duration-150">Verzenden</button>
            <button type="submit" formaction="@Url.Action("PrepareSave")" formnovalidate class="bg-accent hover:bg-accent-hover text-text-black px-4 py-2 rounded-lg transition-colors duration-150">Opslaan</button>
        </div>
    </form>
</div>