@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.QuestionnaireModules.QuestionnaireResponseViewModel

@{
    ViewBag.Title = @Model.Questionnaire.Title;
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/styles.css" asp-append-version="true"/>
}

<div class="questionnaire-container">
    <h1 class="questionnaire-main-title">@ViewBag.Title</h1>
    <h2 class="questionnaire-subtitle">@Model.Questionnaire.Subtitle</h2>

    <form asp-action="Result" method="post">
        <input type="hidden" name="questionnaireId" value="@Model.QuestionnaireId"/>
        @if (Model.Questionnaire.Questions != null)
        {
            @foreach (var question in Model.Questionnaire.Questions.OrderBy(q => q.Position)) // Order by position
            {
                <div class="question-card">
                    <div class="question-card-header">
                        <strong>Vraag @question.Position</strong>
                    </div>
                    <div class="question-card-body">
                        <p class="question-description">@question.Description</p>
                        @if (question.Answers != null)
                        {
                            @foreach (var answer in question.Answers.OrderBy(a => a.Position))
                            {
                                var isChecked = Model.SelectedAnswerIds.Contains(answer.Id);
                                var inputId = $"q{question.Id}_a{answer.Id}";
                                
                                <label class="question-answer-group" for="@inputId">
                                    <input
                                        class="question-answer-radio"
                                        type="radio"
                                        name="Answers[@question.Id]"
                                        value="@answer.Id"
                                        id="@inputId"
                                        @(isChecked ? "checked" : "")
                                        required />
                                    <span class="question-answer-label">@answer.Description</span>
                                </label>
                            }
                        }
                    </div>
                </div>
            }
        }

        <div class="questionnaire-actions">
            <button type="submit" class="btn btn-accent">Verzenden</button>
            <button type="submit" formaction="@Url.Action("PrepareSave")" formnovalidate class="btn btn-accent">Opslaan</button>
        </div>
    </form>
</div>
