@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CitizenPanel.BL.Domain.Panel.Recommendation>

@{
    ViewData["Title"] = "Recommendations";
}

<h1>Aanbevelingen</h1>
<div id="current-user-id" data-user-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" style="display: none;"></div>
<div class="row">
    @foreach (var recommendation in Model)
    {
        <div class="col-md-4 d-flex">
            <div class="card h-100 w-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@recommendation.Title</h5>
                    <p class="card-text flex-grow-1">@recommendation.Description</p>
                    @if (User.IsInRole("Organization"))
                    {
                        <p>Aantal stemmen: <span id="vote-count-@recommendation.Id">@recommendation.Votes</span></p> 
                    }
                    @if (!User.IsInRole("Organization"))
                    {
                        <form class="vote-form mt-auto">
                            <input type="hidden" name="id" value="@recommendation.Id"/>
                            <button type="submit" class="btn btn-primary">Stem</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    }

</div>
@if (User.IsInRole("Organization"))
{
<div class="mt-4 mb-2">
    <a asp-action="AddRecommendation" asp-controller="Recommendation" class="btn btn-success">Aanbeveling Toevoegen</a>
</div>
}

@section Scripts {
    <script defer src="js/recommendation/vote.js">
</script>
}