@model EditQuestionnaireViewModel

@{
    ViewBag.Title = "Bewerk vragenlijst";
}

@section Styles {
    <link href="~/css/admin/editQuestionnaire.css" rel="stylesheet" />
}

<h2>Bewerk vragenlijst</h2>

<form asp-action="EditQuestionnaire" method="post">
    <div class="mb-3">
        <label class="form-label fw-bold fs-5">Titel van vragenlijst</label>
        <input class="form-control" asp-for="Title"/>
    </div>
    <input type="hidden" asp-for="Id" value="@Model.Id"/>

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <div class="card mb-3">
            <div class="card-body">
                <label class="form-label fw-bold">Vraag @(i + 1)</label>
                <input asp-for="@Model.Questions[@i].Description" class="form-control mb-2"/>

                <label class="form-label fw-bold">Weging</label>
                <input asp-for="@Model.Questions[@i].Weight" type="range" min="1" max="10" class="form-range mb-2"
                       oninput="document.getElementById('weightDisplay@i').textContent = this.value;"/>
                <div class="d-flex justify-content-between px-1 text-muted small">
                    @for (int val = 1; val <= 10; val++)
                    {
                        <span>@val</span>
                    }
                </div>

                <label class="form-label fw-bold">Antwoorden</label>
                <ul id="answers-list-@i">
                    @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
                    {
                        <li class="row answer-item mb-2 align-items-center p-2">
                            <div class="col-auto fs-5 p-0">
                                <span class="drag-handle">&#x2630</span>
                            </div>
                            <div class="col">
                                <input asp-for="@Model.Questions[@i].Answers[@j].Description" class="form-control" />
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-danger btn-sm remove-answer-btn">Verwijder</button>
                            </div>
                        </li>
                    }
                </ul>
                <button type="button" class="btn btn-sm btn-secondary add-answer-btn" question-index="@i">Voeg antwoordoptie toe</button>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-primary">Save All</button>
</form>

@section Scripts {
    <script defer src="/js/admin/editQuestionnaire.js">
    </script>
}
