@using CitizenPanel.BL.Domain.User
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model CitizenPanel.UI.MVC.Models.NewMemberViewModel

@{
    ViewBag.Title = "Registreer account";
}

<h2>Vul uw gegevens in</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="MemberRegister" asp-action="RegisterMember" method="post">
    <div>
        <label>Voornaam:</label>
        <input asp-for="FirstName" type="text" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label>Achternaam:</label>
        <input asp-for="LastName" type="text" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div>
        <label>Email:</label>
        <input asp-for="Email" type="email" class="form-control" readonly>
    </div>

    <div>
        <label>Wachtwoord:</label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label>Bevestig wachtwoord:</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div>
        <label>Geslacht:</label>
        <input type="text" class="form-control" value="@Model.Gender.ToDutch()" readonly>
        <input type="hidden" asp-for="Gender" value="@Model.Gender"/>
    </div>

    <div>
        <label>Geboortedatum:</label>
        <input asp-for="BirthDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div>
        <label>Gemeente:</label>
        <input asp-for="Town" type="text" class="form-control" value="@Model.Town" readonly>
    </div>

    @if (Model?.CriteriaList != null && Model.CriteriaList.Any())
    {
        @foreach (var criteriaPair in Model.CriteriaList.Select((criteria, i) => new { criteria, i }))
        {
            <div class="mb-3">
                <label>@criteriaPair.criteria.Name</label>
                <div class="btn-group" role="group">
                    @if (criteriaPair.criteria.SubCriteria != null && criteriaPair.criteria.SubCriteria.Any())
                    {
                        @foreach (var subCriteria in criteriaPair.criteria.SubCriteria)
                        {
                            bool isChecked = Model.SelectedCriteria != null
                                             && Model.SelectedCriteria.Count > criteriaPair.i
                                             && Model.SelectedCriteria[criteriaPair.i] == subCriteria.Id;
                            <label class="btn btn-secondary">
                                <input type="radio" name="SelectedCriteria[@criteriaPair.i]" value="@subCriteria.Id" @(isChecked ? "checked" : "") readonly/>
                                @subCriteria.Name
                            </label>
                        }
                    }
                </div>
            </div>
        }
    }

    @for (int i = 0; i < Model?.CriteriaList?.Count; i++)
    {
        <input type="hidden" asp-for="CriteriaList[i].Id"/>
        <input type="hidden" asp-for="CriteriaList[i].Name"/>

        @for (int j = 0; j < Model.CriteriaList[i].SubCriteria.Count; j++)
        {
            <input type="hidden" asp-for="CriteriaList[i].SubCriteria[j].Id"/>
            <input type="hidden" asp-for="CriteriaList[i].SubCriteria[j].Name"/>
            <input type="hidden" asp-for="CriteriaList[i].SubCriteria[j].Percentage"/>
        }
    }

    <input type="hidden" asp-for="PanelId" value="@Model.PanelId" />
    <input type="hidden" asp-for="IsConfirmed" value="@Model.IsConfirmed" />
    <input type="hidden" asp-for="Invitation.Id" value="@Model.Invitation.Id"/>
    <input type="hidden" asp-for="Invitation.Code" value="@Model.Invitation.Code"/>
    <input type="hidden" asp-for="Invitation.QRCodeString" value="@Model.Invitation.QRCodeString"/>
    <input type="hidden" asp-for="Invitation.PanelId" value="@Model.Invitation.PanelId"/>
    <input type="hidden" asp-for="Invitation.Gender" value="@Model.Invitation.Gender"/>
    <input type="hidden" asp-for="Invitation.Age" value="@Model.Invitation.Age"/>
    <input type="hidden" asp-for="Invitation.Postcode" value="@Model.Invitation.Postcode"/>
    <input type="hidden" asp-for="Invitation.IsUsed" value="@Model.Invitation.IsUsed"/>

    <button type="submit" class="btn btn-primary">Aanmelden</button>
</form>