@using Microsoft.AspNetCore.Mvc.TagHelpers

@model CitizenPanel.UI.MVC.Models.RegisterViewModel

@{
    ViewBag.Title = "Aanmelden";
}

<h2>Vul uw gegevens in</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="MemberRegister" asp-action="RegisterMember" asp-route-code="@Model.Code" method="post">
    <div>
        <label>Email:</label>
        <input asp-for="Email" type="email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    @if (Model?.CriteriaList != null && Model.CriteriaList.Any())
    {
        @foreach (var criteriaPair in Model.CriteriaList.Select((criteria, i) => new { criteria, i }))
        {
            <div class="mb-3">
                <label>@criteriaPair.criteria.Name</label>
                <div class="btn-group" role="group">
                    @if (criteriaPair.criteria.SubCriteria != null && criteriaPair.criteria.SubCriteria.Any())
                    {
                        @foreach (var subCriteria in criteriaPair.criteria.SubCriteria)
                        {
                            bool isChecked = Model.SelectedCriteria != null
                                             && Model.SelectedCriteria.Count > criteriaPair.i
                                             && Model.SelectedCriteria[criteriaPair.i] == subCriteria.Id;
                            <label class="btn btn-secondary">
                                <input type="radio" name="SelectedCriteria[@criteriaPair.i]" value="@subCriteria.Id" @(isChecked ? "checked" : "")/>
                                @subCriteria.Name
                            </label>
                        }
                    }
                </div>
            </div>
        }
    }

    @for (int i = 0; i < Model?.CriteriaList?.Count; i++)
    {
        <input type="hidden" asp-for="CriteriaList[i].Name"/>

        @for (int j = 0; j < Model.CriteriaList[i].SubCriteria.Count; j++)
        {
            <input type="hidden" asp-for="CriteriaList[i].SubCriteria[j].Id"/>
            <input type="hidden" asp-for="CriteriaList[i].SubCriteria[j].Name"/>
        }
    }

    <input type="hidden" asp-for="@Model.Code">
    <button type="submit" class="btn btn-primary">Aanmelden</button>
</form>


<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Bevestiging</h5>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u wilt meedoen?</p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Ik wil niet meedoen</a>
                <input id="isConfirmed" type="hidden" asp-for="@Model.IsConfirmed"/>
                <button id="confirmParticipation" type="button" class="btn btn-success">Ik wil meedoen</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @if (!Model.IsConfirmed)
    {
        <script defer src="@Url.Content("~/dist/js/memberRegister/registerMember.js")"></script>
    }
}
