@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.Draws.RecruitmentCriteriaViewModel

@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/styles.css" asp-append-version="true"/>
}

@{
    ViewBag.Title = "Bereken panel";
}

<div class="recruitment-criteria-page-container">
    <div class="recruitment-criteria-header">
        <h2>Wervingscriteria</h2>
        <button type="button" class="btn btn-outline-primary btn-sm-equivalent" id="toggle-all-btn">
            Alles invouwen
        </button>
    </div>

    <form asp-action="Calculate" method="post">
        <input asp-for="PanelId" type="hidden"/>
        <div class="recruitment-form-group">
            <label asp-for="TotalAvailablePotentialPanelmembers" class="auth-form-label">Aantal inwoners gemeente</label>
            <input asp-for="TotalAvailablePotentialPanelmembers" type="number" class="auth-input-field" required/>
            <span asp-validation-for="TotalAvailablePotentialPanelmembers" class="auth-validation-message"></span>
        </div>

        <ul id="criterias-list" class="criteria-list">
            @for (int i = 0; i < Model.Criteria.Count; i++)
            {
                var criteriaBodyId = $"criteria-body-{i}";
                <li class="criteria-item-card">
                    <input asp-for="Criteria[i].Id" type="hidden" class="criteria-id"/>
                    <div class="criteria-card-header">
                        <div class="criteria-header-content">
                            <label class="criteria-list-label">Criteria</label>
                            <div class="criteria-header-input-group">
                                <input asp-for="Criteria[i].Name"
                                       class="auth-input-field criteria-description" 
                                       placeholder="Criteria omschrijving"
                                       readonly="@(i == 0 || i == 1)" />
                                @if (i > 1) 
                                {
                                    <button type="button" class="btn btn-danger btn-sm-equivalent btn-remove-criteria">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                }
                            </div>
                             @if (!(i == 0 || i == 1)) {
                                <span asp-validation-for="Criteria[i].Name" class="auth-validation-message"></span>
                             }
                        </div>
                        <button type="button" class="criteria-expand-button"
                                data-bs-target="#@criteriaBodyId"
                                aria-expanded="true"
                                aria-controls="@criteriaBodyId">
                            <i class="fas fa-chevron-up"></i> 
                        </button>
                    </div>

                    <div class="criteria-card-body-wrapper" id="@criteriaBodyId">
                        <div class="criteria-card-body">
                            <label class="subcriteria-list-label">Subcriteria</label>
                            <ul id="subcriterias-list-@i" class="subcriteria-list">
                                @if (Model.Criteria[i].SubCriteria != null)
                                {
                                    @for (int j = 0; j < Model.Criteria[i].SubCriteria.Count; j++)
                                    {
                                        <li class="subcriteria-item-row">
                                            <input asp-for="Criteria[i].SubCriteria[j].Id" type="hidden" class="subcriteria-id-hidden" />
                                            <input name="Criteria[@i].SubCriteria.Index" value="@j" type="hidden" />

                                            <div class="subcriteria-input-name-wrapper">
                                                <input asp-for="Criteria[i].SubCriteria[j].Name"
                                                       class="auth-input-field subcriteria-description" 
                                                       placeholder="Subcriteria omschrijving"
                                                       readonly="@(i == 0 || i == 1)" />
                                                @if (!(i == 0 || i == 1)) {
                                                    <span asp-validation-for="Criteria[i].SubCriteria[j].Name" class="auth-validation-message"></span>
                                                }
                                            </div>
                                            <div class="subcriteria-input-percentage-wrapper">
                                                <div class="subcriteria-percentage-group">
                                                    <input asp-for="Criteria[i].SubCriteria[j].Percentage"
                                                           class="subcriteria-percentage subcriteria-percentage-group"
                                                           type="number" min="0" max="100"/>
                                                    <span class="percentage-suffix">%</span>
                                                </div>
                                            </div>
                                            @if (i > 1) 
                                            {
                                                <div class="subcriteria-remove-button-wrapper">
                                                    <button type="button" class="btn btn-danger btn-sm-equivalent btn-remove-subcriteria">
                                                        Verwijder
                                                    </button>
                                                </div>
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                            
                            @if (i > 1) 
                            {
                                <div class="subcriteria-footer">
                                    <button type="button"
                                            class="btn btn-secondary btn-sm-equivalent btn-add-subcriteria"
                                            criteria-index="@i">
                                        Voeg een subcriteria toe
                                    </button>
                                    <div class="subcriteria-total-display">
                                        Totaal: <span class="subcriteria-sum ">0</span>%
                                        <span class="text-danger subcriteria-warning" style="display:none;">
                                            (moet 100%)
                                        </span>
                                    </div>
                                </div>
                            } else { 
                                 <div class="subcriteria-footer justify-end"> 
                                    <div class="subcriteria-total-display">
                                        Totaal: <span class="subcriteria-sum">0</span>%
                                        <span class="text-danger subcriteria-warning" style="display:none;">
                                            (moet 100%)
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>

        

        <div class="recruitment-criteria-actions">
            <button type="button" id="add-criteria-btn" class="btn btn-secondary mb-3">Voeg criteria toe</button>
            <button
                type="submit"
                formaction="@Url.Action("Calculate")"
                class="btn btn-primary"
                id="calculate-btn">
                Berekenen
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <script type="module" src="~/dist/clientapp/assets/recruitment.js" asp-append-version="true"></script>
}