@model CitizenPanel.BL.Domain.Draw.RecruitmentResult

@{
    ViewBag.Title = "Berekening panel";
}

<h2>Voor het aantal nodige panelleden te bereiken moeten er @Model.ReservePotPanelmembers Burgers uitgenodigd worden</h2>

<h2>Benodigde Panelleden: @Model.TotalNeededPanelmembers</h2>

<h3>Gender</h3>
<ul>
    <li><strong>Aantal mannen nodig:</strong> @Model.MaleCount</li>
    <li><strong>Aantal vrouwen nodig:</strong> @Model.FemaleCount</li>
</ul>

<h3>Leeftijd</h3>
<ul>
    <li><strong>Aantal mensen tussen de 18-25 die nodig zijn:</strong> @Model.Age18_25Count</li>
    <li><strong>Aantal mensen tussen de 26-40 die nodig zijn:</strong> @Model.Age26_40Count</li>
    <li><strong>Aantal mensen tussen de 41-60 die nodig zijn:</strong> @Model.Age41_60Count</li>
    <li><strong>Aantal mensen tussen de 60+ die nodig zijn:</strong> @Model.Age60PlusCount</li>
</ul>

@foreach (var category in Model.CriteriaResults)
{
    <h3>@category.Name</h3>
    <!-- Dit is bijvoorbeeld 'Transport' of 'Eetgewoonten' -->
    <ul>
        @foreach (var sub in category.SubResults)
        {
            <li><strong>Aantal @sub.Name nodig:</strong> @sub.Count</li>
            <!-- Subcategorieën zoals OV, Te voet -->
        }
    </ul>
}


<form asp-controller="Panel" asp-action="CreatePanel" method="get">
    @if (Model.CriteriaResults.Count > 0)
    {
        @for (int i = 0; i < Model.CriteriaResults.Count; i++)
        {
            <input type="hidden" asp-for="CriteriaResults[i].Name"/>

            @for (int j = 0; j < Model.CriteriaResults[i].SubResults.Count; j++)
            {
                <input type="hidden" asp-for="CriteriaResults[i].SubResults[j].Name"/>
                <input type="hidden" asp-for="CriteriaResults[i].SubResults[j].Count"/>
                <input type="hidden" asp-for="CriteriaResults[i].SubResults[j].Percentage"/>
            }
        }
    }
    
    <input type="hidden" asp-for="@Model.Age18_25Count"/>
    <input type="hidden" asp-for="@Model.Age26_40Count"/>
    <input type="hidden" asp-for="@Model.Age41_60Count"/>
    <input type="hidden" asp-for="@Model.Age60PlusCount"/>
    <input type="hidden" asp-for="@Model.MaleCount"/>
    <input type="hidden" asp-for="@Model.FemaleCount"/>
    <input type="hidden" asp-for="@Model.TotalNeededPanelmembers"/>
    <input type="hidden" asp-for="@Model.ReservePotPanelmembers"/>

    <button type="submit" class="btn btn-primary">Maak uw panel</button>
</form>

@*
<div>
    <a href="@Url.Action("CreatePanel","Panel")" class="btn btn-primary">Maak uw panel</a>
</div>
*@

<a href="@Url.Action("Index", "Recruitment")" class="btn btn-secondary">Nieuwe Berekening</a>
