@using CitizenPanel.BL.Domain.Users
@using Microsoft.IdentityModel.Tokens
@model System.Collections.Generic.IEnumerable<CitizenPanel.BL.Domain.Draws.Invitation>

@{
    ViewBag.Title = "Uitnodigingen";
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/styles.css" asp-append-version="true"/>
}

<div class="invitations-container">
    @if (Model != null && Model.Any(i => !i.IsRegistered))
    {
        <h2 class="invitations-title">@ViewBag.Title</h2>
        <button id="excel-download-button" data-panel-id="@Model.FirstOrDefault()?.PanelId" type="button" class="btn btn-outline-primary btn-sm-equivalent">
            Download uitnodigingen met Excel
        </button>
        
        <div class="flex">
            <div class="flex items-center me-4">
                <input id="inline-radio" name="inline-radio-group" type="radio" checked value="1"
                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="inline-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-500">Batch 1</label>
            </div>
            @for (int i = 2; i <= @Model?.Max(inv => inv.Batch); i++)
            {
                <div class="flex items-center me-4">
                    <input id="inline-@i-radio" name="inline-radio-group" type="radio" value="@i"
                           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="inline-@i-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-500">Batch @i</label>
                </div>
            }
        </div>

        <div class="invitations-grid">
            @foreach (var invitation in Model.Where(i => !i.IsRegistered))
            {
                <div class="invitation-card">
                    <div class="invitation-card-content">
                        <p class="flex-grow">Geslacht: @invitation.Gender.ToDutch()</p>
                        <p class="flex-grow">Leeftijd:
                            @if (invitation.Age == 18)
                            {
                                @($"18-24")
                            }
                            else if (invitation.Age == 25)
                            {
                                @($"25-49")
                            }
                            else if (invitation.Age == 50)
                            {
                                @($"50-64")
                            }
                            else
                            {
                                @($"65+")
                            }
                        </p>
                        <p class="flex-grow">Code: @invitation.Code</p>
                        <div class="flex-grow mt-auto pt-2">
                            @if (invitation.QRCode.IsNullOrEmpty())
                            {
                                <strong class="text-red-600">@($"Deze invitation heeft geen QR-code meer")</strong>
                            }
                            else
                            {
                                <img src="data:image/png;base64,@invitation.QRCodeBase64" alt="QR Code voor uitnodiging @invitation.Code"/>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center py-10">
            <p class="text-xl text-gray-500">Er zijn momenteel geen openstaande uitnodigingen.</p>
        </div>
    }
</div>


<div id="loadingOverlay" class="loading-overlay">
    <div class="loading-indicator">
        <div class="spinner"></div>
        <p class="loading-text">Uw uitnodigingen worden aangemaakt, een ogenblik geduld a.u.b.</p>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/dist/clientapp/assets/manageInvites.js" asp-append-version="true"></script>
}