@using CitizenPanel.BL.Domain.Users
@using Microsoft.IdentityModel.Tokens
@model System.Collections.Generic.IEnumerable<CitizenPanel.BL.Domain.Draws.Invitation>

@{
    ViewBag.Title = "Uitnodigingen";
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/styles.css" asp-append-version="true"/>
}

<div class="invitations-container">
    <h2 class="invitations-title">@ViewBag.Title</h2>
    <button id="excel-download-button" data-panel-id="@Model.FirstOrDefault()?.PanelId" type="button" class="btn btn-outline-primary btn-sm-equivalent">
        Download uitnodigingen met Excel
    </button>
    
    @if (Model != null && Model.Any(i => !i.IsRegistered))
    {
        <div class="invitations-grid">
            @foreach (var invitation in Model.Where(i => !i.IsRegistered))
            {
                <div class="invitation-card">
                    <div class="invitation-card-content">
                        <p class="flex-grow">Geslacht: @invitation.Gender.ToDutch()</p>
                        <p class="flex-grow">Leeftijd:
                            @if (invitation.Age == 18)
                            {
                                @($"18-25")
                            }
                            else if (invitation.Age == 26)
                            {
                                @($"26-35")
                            }
                            else if (invitation.Age == 36)
                            {
                                @($"36-50")
                            }
                            else if (invitation.Age == 51)
                            {
                                @($"51-60")
                            }
                            else if (invitation.Age == 61)
                            {
                                @($"61+")
                            }
                            else
                            {
                                @($"{invitation.Age}")
                            }
                        </p>
                        <p class="flex-grow">Code: @invitation.Code</p>
                        <div class="flex-grow mt-auto pt-2">
                            @if (invitation.QRCode.IsNullOrEmpty())
                            {
                                <strong class="text-red-600">@($"Deze invitation heeft geen QR-code meer")</strong>
                            }
                            else
                            {
                                <img src="data:image/png;base64,@invitation.QRCodeBase64" alt="QR Code voor uitnodiging @invitation.Code"/>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center py-10">
            <p class="text-xl text-gray-500">Er zijn momenteel geen openstaande uitnodigingen.</p>
        </div>
    }
</div>

@section Scripts {
    <script type="module" src="~/dist/clientapp/assets/manageInvites.js" asp-append-version="true"></script>
}