@model System.Collections.Generic.IEnumerable<CitizenPanel.BL.Domain.Draw.Invitation>

@{
    ViewBag.Title = "title";
}

<h2>Qr-codes</h2>
<table>
    <tr>
        <td>
            PanelId
        </td>
        <td>
            Gender
        </td>
        <td>
            Age
        </td>
        <td>
            Town
        </td>
        <td>
            Code
        </td>
        <td>
            QRCode
        </td>
    </tr>
    @foreach (var invitation in Model)
    {
        <tr>
            <td>
                @invitation.PanelId
            </td>
            <td>
                @invitation.Gender
            </td>
            <td>
                @invitation.Age
            </td>
            <td>
                @invitation.Town
            </td>
            <td>
                @invitation.Code
            </td>
            <td>
                <img src="data:image/png;base64,@invitation.QRCodeString" style="width: 150px; height: 150px;"/>
            </td>
        </tr>
    }
</table>