@model CitizenPanel.BL.Domain.User.Panelmember
@{
    ViewBag.Title = "QRCode";
    Layout = "_Layout";
}

<h2>Panelmember toevoegen</h2>
<p>
    Age: @Model.Age
</p>
<p>
    email: @Model.Email
</p>
<p>
    Gender: @Model.Gender
</p>
<p>
    PanelId: @Model.PanelId
</p>
<p>
    Postcode: @Model.Postcode
</p>